.burgerNF {
  display: flex;
  align-items: center;
  justify-content: center;

  & {
    color: black;
  }
}
.testimonialNF {
  display: flex;
  align-items: center;
  justify-content: center;

  & {
    color: white;
  }
}

.aboutNF {
  display: flex;
  align-items: center;
  justify-content: center;

  & {
    color: black;
  }
}


.chefsNF {
  display: flex;
  align-items: center;
  justify-content: center;

  & {
    color: white;
  }
}