$orange: #fd5306ff;
$yellow: #ffc919ff;
$white: #f0eadeff;
$red: #ff0000;
$green: #009E76;

@mixin thisTexture {
  background-color: $orange;

  background: url(/src/assets/texture/4.jpg) 0 20% / cover no-repeat;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  mix-blend-mode: hard-light;

  @media (max-width: 700px){
    background-position: 100% 30%;
  }
}

@mixin textTexture {
  background-color: white;
  background: url(/src/assets/texture/texturetext.jpg) 0 20% / cover repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  mix-blend-mode: hard-light;


}

@mixin thisLinearGradient($color) {
  background: $color;
  background: linear-gradient(0deg, darken($color, 20%), $color);
}
